export(find.colors,img.zone,create.zones, pca, plotimage, plotpca, plotzone, reshapimg, translation, difftable,hotelling.test,sri.test,calc.ell,generic.plot,intpca,interieur.para)
importFrom("grDevices", "cm.colors", "col2rgb", "dev.cur", "dev.off",
             "gray.colors", "heat.colors", "jpeg", "pdf", "png",
             "rainbow", "terrain.colors", "topo.colors",
             "x11")
  importFrom("graphics", "abline", "arrows", "box", "layout", "lines",
             "mtext", "par", "plot", "points", "segments", "text")
  importFrom("stats", "aggregate", "cor", "cov", "pf", "pnorm", "qchisq",
             "qf")
  importFrom("utils", "combn")
  import("imager")
  import("ellipse")
importFrom("grDevices", "dev.new")
